{% extends "base.html" %}

{% block content %}
<h1>Log in to Get It Done!</h1>
<p>If you don't have an account, you may <a href="/register">register</a> for one</p>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="email" value="{{ email }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
{% endblock %}