{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
<form action="/register" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" name="email" type="email" value="{{ email }}">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" name="password" type="password">
    </div>
    <div class="form-group">
        <label for="verify">Verify Password</label>
        <input class="form-control" name="verify" type="password">
    </div>

    <input type="submit" value="Register" class="btn btn-default">
</form>
{% endblock %}