{% extends "base.html" %}

{% block content %}
    <form method='post'>
        <label>
            New Task:
            <input type="text" name='task' />
        </label>
        <input type="submit" value='Add Task' />
    </form>

    <hr />

    {% if tasks|length == 0 %}
    <p>No tasks yet</p>
    {% else %}

        <table class="table table-striped">
            {% for task in tasks %}
            <tr>
                <td>{{task.name}}</td>
                <td>
                    <form method="POST" action="/delete-task" style="display:inline-block;">
                        <input type="hidden" name="task-id" value="{{task.id}}" />
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Done
                        </button>
                    </form>
                </td> 
            </tr>
            {% endfor %}
        </table>

    {% endif %}

    <hr />

    <h2>Completed</h2>

    <table class="table table-striped">
        {% for task in completed_tasks %}
        <tr>
        <td><span class="glyphicon glyphicon-ok"></span>{{task.name}}</td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}